In [23]:
import os
import pandas as pd
import scipy.stats as stats

In [24]:
lista= os.listdir("../results")
lista = [x for x in lista if x.endswith(".csv")]

In [25]:
df_lstm = pd.DataFrame(columns=['Model', 'MAE', 'RMSE', 'F1', 'Validation Loss'])
df_model = pd.DataFrame(columns=['Model', 'MAE', 'RMSE', 'F1', 'Validation Loss'])

In [26]:
for result in lista:
    if result.startswith("lstm"):
        df_lstm = pd.concat([df_lstm, pd.read_csv("../results/"+result)])
    else:
        df_model = pd.concat([df_model, pd.read_csv("../results/"+result)])

/tmp/ipykernel_1871815/1759376776.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_model = pd.concat([df_model, pd.read_csv("../results/"+result)])
/tmp/ipykernel_1871815/1759376776.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_lstm = pd.concat([df_lstm, pd.read_csv("../results/"+result)])

In [53]:
df_lstm = df_lstm.sort_values(by=['F1'], ascending=False)

In [54]:
df_model = df_model.sort_values(by=['F1'], ascending=False)

In [55]:
list(df_model["MAE"])

[0.2538991069134187,
 0.2994592699258278,
 0.2443273164482053,
 0.2663343940762408,
 0.3023213467072537]

In [60]:
df_model

      Model       MAE      RMSE        F1  Validation Loss
0  Baseline  0.253899  0.403722  0.752163         0.223879
0  Baseline  0.299459  0.502376  0.710566         0.222378
0  Baseline  0.244327  0.432694  0.602184         0.220591
0  Baseline  0.266334  0.433279  0.598421         0.229074
0  Baseline  0.302321  0.519010  0.596659         0.226182

In [61]:
df_lstm

      Model       MAE      RMSE        F1  Validation Loss
0  Baseline  0.272450  0.443909  0.662212         0.223598
0  Baseline  0.310392  0.504331  0.638845         0.228126
0  Baseline  0.347129  0.553392  0.583458         0.234320
0  Baseline  0.332494  0.548050  0.448198         0.226262
0  Baseline  0.364782  0.570134  0.427960         0.229570

In [ ]:
list(df_model["MAE"])

In [56]:
for metric in list(df_lstm.columns)[1:-1]:
    print(metric)
    results = stats.ttest_rel(list(df_lstm[metric]), list(df_model[metric]))
    print(results.pvalue)

MAE
0.03650089714982762
RMSE
0.04461580435547295
F1
0.021249432123416994

In [57]:
df_model[metric]

0    0.752163
0    0.710566
0    0.602184
0    0.598421
0    0.596659
Name: F1, dtype: float64

In [32]:
# df_lstm.iloc[:,1:].mean()

In [58]:
df_model.iloc[:,1:].mean()

MAE                0.273268
RMSE               0.458216
F1                 0.651999
Validation Loss    0.224421
dtype: float64

In [34]:
# df_lstm.iloc[:,1:].std()

In [59]:
df_model.iloc[:,1:].std()

MAE                0.026414
RMSE               0.049722
F1                 0.073956
Validation Loss    0.003312
dtype: float64